// Specific CSS for your home-page

.welcome-image {
  width: 200px;
  border-radius: 15px 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

i {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

h1, h3 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-family: 'Comic Neue', cursive;
}

.pirulito-name {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-weight: bolder;
}

.hi {
  font-family: 'Roboto Flex';
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.2rem;
  text-align: center;
}

.btn {
  font-family: 'Roboto Flex', sans-serif;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
