<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/pjfernandes/pirulitolife"><i class="fab fa-github text-secondary"></i></a>
    <a href=""><i class="fab fa-instagram text-secondary"></i></a>
  </div>
  <div class="footer-copyright">
    Pirulito's Life <i class="far fa-copyright text-secondary"></i>
  </div>
</div>
