<div class="content">
  <h1 class="text-center mt-4"><i class="fas fa-paw text-info"></i> <span class="title-text text-secondary">Welcome to Pirulito's Life</span></h1>
  <div class="welcome d-flex justify-content-center">
    <%= image_tag "welcome.jpg", class: "welcome-image mt-2 mb-2" %>
  </div>
  <h3 class="text-center mt-2 text-secondary">
      <i class="fas fa-dog text-info"></i> My name's <span class="pirulito-name">Pirulito</span> (Lollipop)
  </h3>

  <div class="hi">
    <p>
      This is my life database web app developed in Ruby on Rails with a PostgreSQL database! I want to record the incredible moments of my life here. Here you will find photos of my tours and my friends.
    </p>

    <p>
      I was a street dog from Nova Iguaçu (RJ) and liked to eat bread. But in 2020 I was adopted and now I have a playboy life in Niterói (RJ) and I receive a lot of love, but I had to stop eating bread and today I only eat premium food. I really like walking in Campo de São Bento and Rua Moreira César in Icaraí. See you around!
    </p>
    <a href="#" class="btn btn-info btn-lg mb-2" role="button" aria-disabled="true">Enter</a>
  </div>
</div>
