<% if user_signed_in? && current_user.admin?%>
  <div class="buttons text-center">
    <%= link_to "New", new_post_path, class:"btn btn-info mt-5 mb-2 ml-2" %>
  </div>
<%end%>

<div class="photos">
  <% if @post.photos.attached? %>
    <% @post.photos.each do |photo| %>
      <div class="photo-card">
        <a href="<%=cloudinary_url(photo.key)%>" target="_blank">
          <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill, class: "photo" %>
        </a>
      </div>
    <% end %>
  <% end %>
</div>
